<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AccessKeyId" value="2NeLUvmJFYbrj2Eb"/>
    <add key="AccessKeySecret" value="tpKbdpzCavhbYghxHih5urCw5lkBdx"/>
    <add key="Endpoint" value="http://oss-cn-hangzhou.aliyuncs.com"/>
    <add key="ProxyHost" value="47.88.84.40"/>
    <add key="ProxyPort" value="3128"/>
    <add key="ProxyUser" value="tester"/>
    <add key="ProxyPassWord" value="Hello12345"/>
    <add key="CallbackServer" value="http://oss-demo.aliyuncs.com:23450"/>
    <add key="UploadTestFile" value="D:\work\oss\csharp\testdata\pics\2015\BingWallpaper-2015-11-07.jpg"/>
    <add key="ImageTestFile" value="D:\work\oss\csharp\testdata\pics\2015\BingWallpaper-2015-11-07.jpg"/>
    <add key="DownloadFolder" value="D:\work\oss\csharp\testdata"/>
    <add key="MultiUploadTestFile" value="D:\work\oss\csharp\testdata\haozip_v2.6.1.exe"/>
    <add key="DisabledAccessKeyId" value="DisabledAccessKeyId"/>
    <add key="DisabledAccessKeySecret" value="DisabledAccessKeySecret"/>
    <add key="SecondEndpoint" value="http://oss-cn-hangzhou.aliyuncs.com"/>
  </appSettings>
</configuration>