<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AccessKeyId" value="2NeLUvmJFYbrj2Eb"/>
    <add key="AccessKeySecret" value="tpKbdpzCavhbYghxHih5urCw5lkBdx"/>
    <add key="Endpoint" value="http://oss-cn-hangzhou.aliyuncs.com"/>
    <add key="ProxyHost" value="10.101.161.115"/>
    <add key="ProxyPort" value="3128"/>
    <add key="ProxyUser" value="test"/>
    <add key="ProxyPassWord" value="test"/>
    <add key="UploadTestFile" value="D:\work\oss\csharp\testdata\BingWallpaper-2015-11-07.jpg"/>
    <add key="DownloadFolder" value="D:\work\oss\csharp\testdata"/>
    <add key="MultiUploadTestFile" value="D:\work\oss\csharp\testdata\lamando.pdf"/>
    <add key="DisabledAccessKeyId" value="DisabledAccessKeyId"/>
    <add key="DisabledAccessKeySecret" value="DisabledAccessKeySecret"/>
    <add key="SecondEndpoint" value="http://oss-cn-hangzhou.aliyuncs.com"/>
  </appSettings>
</configuration>