<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AccessKeyId" value="your access key id"/>
    <add key="AccessKeySecret" value="your access key secret"/>
    <add key="Endpoint" value="your endpoint"/>
    <add key="ProxyHost" value="proxy host"/>
    <add key="ProxyPort" value="3128"/>
    <add key="ProxyUser" value="proxy user"/>
    <add key="ProxyPassWord" value="proxy password"/>
    <add key="CallbackServer" value="callback server"/>
    <add key="UploadTestFile" value="path to upload test file"/>
    <add key="DownloadFolder" value="path to download folder"/>
    <add key="MultiUploadTestFile" value="path to multi upload test file"/>
    <add key="ImageTestFile" value="path to upload test image file"/>
    <add key="DisabledAccessKeyId" value="DisabledAccessKeyId"/>
    <add key="DisabledAccessKeySecret" value="DisabledAccessKeySecret"/>
    <add key="SecondEndpoint" value="http://oss-cn-hangzhou.aliyuncs.com"/>
    <add key="PayerAccessKeyId" value="payer access key id"/>
    <add key="PayerAccessKeySecret" value="payer access key secret"/>
    <add key="PayerUid" value="payer uid"/>
  </appSettings>
</configuration>
